<h1> {{company.name}} Admin Page </h1>

<div class="alert alert-danger"> <strong> Warning! </strong> This page has private user records. Do not share this URL with unauthorized people. </div>

<h3> {{event.name}} </h3>

<table class="table table-striped table-boreder">
  <tr>
    <th> Name </th>
    <th> Email </th>
    <th> Class </th>
    <th> Major </th>
    <th> Time </th>
    <th> Resume </th>
  </tr>

  <tr ng-repeat="entry in entries"> 
    <td> {{entry.user.name}} </td>
    <td> {{entry.user.email}} </td>
    <td> {{entry.user.grade}} </td>
    <td> {{entry.user.major}} </td>
    <td> June 8th, 8:45AM </td>
    <td> <a href="{{entry.resume}}"> Resume </a> </td>
  </td>
</table>


<!-- {{company}}
{{event}}
{{entries}} -->