<h1> Events </h1>

<button ng-click="newEvent()" class="btn btn-success btn-lrg"> Create Event </button>

<h2> Current Events </h2>
<div class="well" ng-repeat="event in currentEvents">  
  <a href="/#/event/{{event._id}}"> <h3> {{event.name}} </h3> </a>
  <div style="display:inline-block" ng-repeat="company in event.companies"> <img width="100px" height="100px" ng-src="{{company.logo}}"> </img> </div>
</div>

<h2> Upcoming Events </h2>
<div class="well" ng-repeat="event in futureEvents">  
  <a href="/#/event/{{event._id}}"> <h3> {{event.name}} </h3> </a>
  <div style="display:inline-block" ng-repeat="company in event.companies"> <img width="100px" height="100px" ng-src="{{company.logo}}"> </img> </div>
</div>

<h2> Past Events </h2>
<div class="well" ng-repeat="event in pastEvents">  
  <a href="/#/event/{{event._id}}"> <h3> {{event.name}} </h3> </a>
  <div style="display:inline-block" ng-repeat="company in event.companies"> <img width="100px" height="100px" ng-src="{{company.logo}}"> </img> </div>
</div>

<!-- {{events}} -->